# Django
SECRET_KEY=change-this-to-a-random-secret
DEBUG=False
ALLOWED_HOSTS=example.com,www.example.com

# PostgreSQL
POSTGRES_DB=blog
POSTGRES_USER=blog
POSTGRES_PASSWORD=change-this-password
DB_HOST=db
DB_PORT=5432
